.hero {
  width: 69.25rem;
  height: 28.125rem;
  flex-shrink: 0;
  background: url('../../assets/image/Untitled-1 1.png'), lightgray 50% / cover no-repeat;
  border-radius: 6px;
  margin-top: 1.56rem;



}

.hero-item {
  margin: 9rem 9rem 39.13rem 5.87rem;
}

.hero h3 {
  text-align: left;
  width: 24.25rem;
  height: 5.5rem;
  color: #000;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.hero span {
  color: #FF9C00;

}



.search-input {
  margin-right: 500px;
  width: 22.25rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: rgba(0, 0, 0, 0.20);
  border: none;
  backdrop-filter: blur(20px);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  padding-left: 1.5rem;
  color: white;
}

.serach-btn {
  position: absolute;
    right: 30.2rem;
    top: 50%;
    /* bottom: 0; */
    transform: translateY(-50%);

}

.search-input__submit {
  position: relative;
  display: inline-block;

}

/* media queries */

@media screen and (max-width: 780px) {
  .hero {
    display: none;
    width: 90%;
    background: lightgray 50% / cover no-repeat;
    border-radius: 6px;
    margin-top: 1.56rem;

  }

  .hero-item {

    margin: 0 94.5px;
    margin-top: 278px;
  }
  .search-input {
    width: 15.25rem;
    height: 2.5rem;
  }
  .hero h3 {
    width: 15.25rem;
    font-size: 2rem;
  }
  .search-input::placeholder {
    padding: 0;
    font-size: 0.75rem;
  }
  
}